.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.color-nav{
  background-color: #1B396A !important;
  color: white !important;
  width: 100%;
  height: 50px;
  padding: .5rem 1rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

.navBar{
  color: white;
  
}

.color-nav-contacto{
  background-color: #419ECC !important;
  color: white !important;
  height: 35px;
  font-size: 14px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .color-nav-contacto{
    background-color: #419ECC !important;
    color: white !important;
    height: auto;
  }
}

.color-nav-contacto .nav-link:not(:last-child){
  border-right: 1px solid white;
}


@media (max-width: 768px) {
 .color-nav-contacto .nav-link:not(:last-child) {
   border-right: none;
 }
}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.card-container{
  padding: 20px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #D7ECF7;
}

.card{
  overflow:hidden;
}

.card-text{
  color: white;
  text-align: center;
  vertical-align: text-bottom;
  font-weight: bold;
  font-size: 1rem;
}


.card:hover{
  -webkit-transform:scale(1.25);
  -moz-transform:scale(1.25);
  -ms-transform:scale(1.25);
  -o-transform:scale(1.25);
  transform:scale(1.25);
  transition-duration: 0.6s;
}


.card-img-top{
  width:100%;
  height:120px;
}

.carousel img{
  max-height: auto;
  max-width: 100%  !important;
  margin-left: auto;
  margin-right: auto;
}
.carousel .slide{
  background: rgb(255, 255, 255) !important;
}

.carruselDeleteDiv{
  margin-left: 70%;
  text-align: right;
  margin-right: 5%;
  position: relative;
  bottom: 350px;
  width: 20%;
}

.carruselDeleteIcon{
  transform: scale(1.5);
}

.eliminarImagenCarousell{
  text-align: center;
  color:rgb(12, 23, 177)
}

.footer{
  width: 100%;
  background-color: #231F20;
  display: flex;
}

.imagenFooter{
  margin-left: 20%;
}

.infoFooter{
  font-size: 14px;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  color: white;
}

.opcionesFooter{
  margin-right: 10px;
  display: inline-block;
  color: #696969;
}

.contenedor{
  padding: 40px 40px;
  overflow: auto;
  max-height: 400px;
  margin-bottom: 5px;
}

.individualFeed{
  
  background: green;
  margin-bottom: 20px;
}

.wrapper{
  margin-bottom: 20px;
}

.wrapper h1{
  border-bottom: 4px solid #F87E0C;
}

.imgDiv{
  position: relative;
  width:100%;
  height:auto;
}

.avisos{
  margin-bottom: 30px;
}

hr{
  border: none;
    height: 1px;
    background-color: rgb(34, 104, 209);
}

.button{
  margin-left: 14%;
  margin-bottom: 20px;
}

.buttons{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.link{
  color: black;
}

.bg-light{
  background-color: #1B396A !important;
  color: white !important;
  width: 100%;
  border-top: 3px solid #F87E0C;
  
  
}
.bg-light a{
  background-color: #1B396A !important;
  color: white !important;
  width: 100%;
  height: 100%;
  font-size: 25px;
  
  
}

.mr-auto{
 margin-left:auto !important; 
 margin-right: auto !important;
}

.form-label{
  font-size: 20px;
  font-weight: bold;
  
}
.form-control{
  width: 100%;
  border-radius: .75rem;
  border: 1px solid #000000;
  padding: 0.175rem .75rem;
  
}
.form{
  margin-right: auto;
  margin-left: auto;
}

.confirmacion{
  color: #ffffff; 
  font-size: 18px; 
  font-weight: 400; 
  text-align: center; 
  background: #889ccf; 
  margin: 0 0 25px; 
  overflow: hidden; 
  padding: 20px; 
  border-radius: 35px 0px 35px 0px; 
  -moz-border-radius: 35px 0px 35px 0px; 
  -webkit-border-radius: 35px 0px 35px 0px; 
  border: 2px solid #5878ca;
}

.info-carrera{
  margin-right: auto;
  margin-left: auto;
}

.info-carrera h1{
  color: #1B396A;
  font-weight: 600;
  border-bottom:4px solid #F87E0C;

}
.info-carrera h2{
    color: #419ecc; 
    font-weight: 600;
    padding-top: 20px;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}
.info-carrera h3{
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.info-carrera h4{
  font-size: 1.5rem;
  margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}
.info-carrera p{
  display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
    margin-bottom: 1rem;

}

.avisoTitulo{
  color: rgb(12, 23, 177)
}

.avisoFile{
  margin: auto;
  color: red;
  transform: scale(1.5);
}

.avisoFecha{
  margin-left: auto;
}

.avisoFileDate{
  display: flex;
}

.avisoFileDate button{
  max-height: 50px;
  margin-left: 0%;
  margin-right: 5%;
}

.perfilEgreso{
  white-space: pre;
}

.ofertaContainer{
  margin-left: 12%;
  margin-right: 12%;
}

.carrusel{
  width: auto;
  height: fit-content;
}

.login-form{
  width: 540px;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
}

.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 30%);
  padding: 30px;
}

.moodle{
  text-align: center;
}

.moodleButtons button{
  margin-left: 0%;
  margin-right: 1%;
}

.map{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenido-servicio h2{
  color: #1B396A;
    font-weight: 600;
    border-bottom: 2px solid #F87E0C;
}
.contenido-servicio h3,h4{
  color: #1B396A;
    font-weight: 600;

}

    .contenido-servicio  tr td {
    
    padding: 10px;}

    .contenido-servicio td, th,tr,thead {border-style: solid;
    border-color: #000000;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
 border-width: 1px;}

 .contenido-servicio {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }